.contentOfWelc{
    text-align:center;
}

.HeaderBar{
    position: sticky;
	top: 0;
	margin-left:auto; 
	margin-right:auto;
	background-color:white;
	display: flex;
    border-bottom: 1px solid rgba(107, 104, 104, 0.534);
    z-index: 10;
    font-family: "Montserrat";
}

.mainBody{
	margin:0;
	background-color: white;
	position: relative;
}
#welcomeMsg {
    text-align: center;
}

p {
    font-family: "Montserrat";
}